//- Copyright (C) 2021 Trevor Thalacker

//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.

//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.

//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

extends includes/layout.pug

block content
    section(class="flex-grow flex flex-col items-center justify-center")
        div(class="flex flex-col items-center")
            img(class="h-16 w-16 m-3" src=logo alt=title + " Icon")
            h1(class="text-2xl")=title

        div(class="flex flex-col items-center justify-center")
            p(class="text-gray-600 text-lg lg:mx-96 mx-44 text-center")=message