<footer id="bl-ftr">
  <div id="bl-ftr-l">Copyright © 2022 Jamie Murphy</div>
  <div id="bl-ftr-r">
    <a href="https://github.com/ItsJamie9494/bingus.link" id="bl-d"
      >Source Code</a
    >
    <a href="https://itsjamie.dev" id="bl-d">More Work</a>
    <a href="/abuse" id="bl-d">Report Abuse</a>
    <a href="/privacy" id="bl-d">Privacy</a>
  </div>
</footer>
