//- Copyright (C) 2021 Trevor Thalacker

//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.

//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.

//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

html(lang="en")
include includes/header.pug
body
    include includes/main.pug
        h2(id="bl-t")=title
        p(id="bl-d") A free, private URL shortener with the greatest domain in existence.
        form(id="bl-f",action="/app/generateLink",method="GET")
            div(id="bl-f-f")
                div(id="bl-f-l")
                    label(for="bl-lu") URL to Shorten
                    input(type="text",name="longURL",id="bl-lu",placeholder="https://example.com",maxlength="255")
                    label(for="bl-lu-sc") URL Short Code (Optional)
                    input(type="text",name="shortCode",id="bl-lu-sc",placeholder="notARickRoll",maxlength="255")
                div(id="bl-f-r")
                    label(for="bl-lu-et") Embed Title
                    input(type="text",name="embedTitle",id="bl-lu-et",placeholder="This is a URL shortened with " + title,maxlength="255")

                    label(for="bl-lu-ed") Embed Description
                    input(type="text",name="embedDescription",id="bl-lu-ed",placeholder="Create your own at " + baseUrl,maxlength="255")

                    label(for="bl-lu-ei") Embed Image
                    input(type="text",name="embedImage",id="bl-lu-ei",placeholder=baseUrl + "/images/bingus.png",maxlength="255")
                div(id="bl-f-r")
                    script.
                        let title = document.getElementById('bl-lu-et')
                        let description = document.getElementById('bl-lu-ed')
                        let image = document.getElementById('bl-lu-ei')
                        let url = document.getElementsByTagName('title')[0]

                        title.addEventListener('change', () => onChange())
                        description.addEventListener('change', () => onChange())
                        image.addEventListener('change', () => onChange())

                        embedPreview(image.value, title.value, description.value, url.innerHTML)

                        function onChange() {
                            document.getElementById('embedpreview-title').innerHTML = title.value;
                            document.getElementById('embedpreview-description').innerHTML = description.value;
                            document.getElementById('embedpreview-image').style.backgroundImage = `url(${image.value})`;
                        }
                    embedpreview

            button(type="submit",id="bl-btn") Generate URL
    include includes/footer.pug
    script(src=baseUrl + "/js/embed.js") 