<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta
    property="og:description"
    content="A free, private URL shortener with the greatest domain in existence."
  />
  <meta property="og:image" content="{{ .BaseURL }} /images/screenshot.png" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta
    name="twitter:description"
    content="A free, private URL shortener with the greatest domain in existence."
  />
  <meta name="twitter:image" content="{{ .BaseURL }}/images/screenshot.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ .BaseURL }}" />
  <meta
    name="description"
    content="A free, private URL shortener with the greatest domain in existence."
  />

  <title>{{ .Title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
